# Credmark Modeling Framework Example for Jupyter notebook

## Ledger Model

version: 2023.4.15

## Initialize

<div class="alert alert-block alert-info">
    <b>Note:</b> Change to a web3 provider you have in `params`/`chain_to_provider_url` below.
</div>

In [11]:
%reload_ext credmark.cmf.ipython

cmf_param = {
    'chain_id': 1,
    'block_number': None,
    # 'chain_to_provider_url': {'1': 'https://mainnet.infura.io/v3/... or https://eth-mainnet.g.alchemy.com/'}, # or, use the credmark's nodes
    'api_url': None,
    'use_local_models': None,
    'register_utility_global': True}

context, model_loader = %cmf cmf_param

## Example

### Contract - Uni V2

In [12]:
contract = Contract(address='0x0d4a11d5EEaaC28EC3F61d100daF4d40471f1852')
print(contract.functions.name().call(), contract.functions.symbol().call())

for addr in [contract.functions.token0().call(), contract.functions.token1().call()]:
    print(Token(address=addr).symbol)

Uniswap V2 UNI-V2
WETH
USDT

### Ledger Examples

- Get the max value group by `to`

In [13]:
contract = Contract(address='0x0d4a11d5EEaaC28EC3F61d100daF4d40471f1852')

with contract.ledger.functions.Transfer as q:
    ret = (q.select(
        aggregates=[(q.FN_VALUE.max_(), 'max_value')],
        group_by=[q.FN_TO, q.BLOCK_NUMBER],
        order_by=q.field('max_value').dquote().desc(),
        where=q.BLOCK_NUMBER.gt(context.block_number - 2000),
        limit=10
    ).to_dataframe())
display(ret)

Empty DataFrame
Columns: []
Index: []

- Get max amount0Out by `to`.

In [14]:
with contract.ledger.events.Swap as q:
    ret = (q.select(
        aggregates=[(q.EVT_AMOUNT0OUT.max_(), 'max_value')],
        group_by=[q.EVT_TO],
        order_by=q.field('max_value').dquote().desc(),
        where=q.BLOCK_NUMBER.gt(context.block_number - 2000000),
        limit=5)
        .to_dataframe())
display(ret)

            max_value                                      evt_to
0  999998367510990867  0x1111111254eeb25477b68fb85ed929f73a960582
1  999998035187130322  0x6033368e4a402605294c91cf5c03d72bd96e7d8d
2  999995117313840887  0x0a361804715edcfc61bce38bead4b5e4a49ec921
3    9999908372109882  0x1111111254fb6c44bac0bed2854e76f90643097d
4   99999059885198703  0x554f01d148d719a888a35c991f367ff2771b1a02

- Get max amount0Out and max amount1Out

In [15]:
contract = Contract(address='0x0d4a11d5EEaaC28EC3F61d100daF4d40471f1852')
with contract.ledger.events.Swap as q:
    ret = (q.select(
        aggregates=[(q.EVT_AMOUNT0OUT.max_(), 'max_amount0Out'),
                    (q.EVT_AMOUNT1OUT.max_(), 'max_amount1Out')]
    ).to_dataframe())
display(ret)

      max_amount0Out max_amount1Out
0  99999999980354914    99999999999

- Get the transaction hash containing the max amount0Out.

In [16]:
contract = Contract(address='0x0d4a11d5EEaaC28EC3F61d100daF4d40471f1852')
with contract.ledger.events.Swap as q:
    ret2 = (q.select(
        aggregates=[(q.EVT_AMOUNT0OUT.max_(), 'max_amount0Out')],
        group_by=[q.TXN_HASH],
        having=q.EVT_AMOUNT0OUT.max_().ge(ret.max_amount0Out[0]),
    ).to_dataframe())
display(ret2)

                                    transaction_hash     max_amount0Out
0  0x8f2fe3f7de818bb86552b0a8973fece583f33c4960ff...  99999999980354914

- Get the transaction hash containing the max amount0Out or max amount1Out

For any column in `having` needs to be in `aggregates`.

In [17]:
contract = Contract(address='0x0d4a11d5EEaaC28EC3F61d100daF4d40471f1852')
with contract.ledger.events.Swap as q:
    ret3 = (q.select(
        aggregates=[(q.EVT_AMOUNT0OUT.max_(), 'max_amount0Out'),
                    (q.EVT_AMOUNT1OUT.max_(), 'max_amount1Out')],
        group_by=[q.BLOCK_NUMBER, q.TXN_HASH],
        having=(
            q.EVT_AMOUNT0OUT.max_().ge(ret.max_amount0Out[0]).or_(
                q.EVT_AMOUNT1OUT.max_().ge(ret.max_amount1Out[0]))),
        order_by=q.BLOCK_NUMBER
    ).to_dataframe())

display(ret3)

,block_number,transaction_hash,max_amount0Out,max_amount1Out
0,12381561,0x12c145ecce24b060c71a28ebebb6ae65285cdc06a19a...,0,99999999999
1,12387763,0x533c7163f91a67b0ed01d68510592bed7bbe3272c04e...,0,99999999999
2,12388027,0xb75a60a69afdc7bf35f3adab6b641580886110c32de4...,0,99999999999
3,12390722,0xbdd434496b5ceb6aa6a859ae6c06359dcfaed0096156...,0,99999999999
4,12392318,0x04884fd5356b60049a823876114a531a994dc119aae4...,0,99999999999
5,12392343,0x046cf2ae940ab71d66df752d491ce13fc19f5d251336...,0,99999999999
6,12392388,0x9168801ba0d802bc48e514fc0231c656a2873c7e8a65...,0,99999999999
7,12392413,0x7ba688f3ee9a141f83300f92c3b7d097952104b505bc...,0,99999999999
8,12392448,0x3d1dd49ca7ebda02b2e94a71affcc4d4307e3948327a...,0,99999999999
9,12393596,0x2bf8a4475d94de809d0322e87ce260db38db4832111e...,0,99999999999
10,12393685,0x12ab90124cb4e036a0c537495984805b2bf73895c665...,0,99999999999
11,12393699,0x20218b5f44b7894bef8781ec87f61216a75e0d940f27...,0,99999999999
12,12393883,0x2236d66985fd0fc5f621e870160cd519618fb0728127...,0,99999999999
13,12393999,0x0b9ff1d3f1f4d9741fd533271c5e4a7068e1c841482d...,0,99999999999
14,12394014,0x03390d43d8b73f8e11eef231b19e14abdd166c20a859...,0,99999999999
15,12394026,0x77b272f1f9bd4d4c147544a86501a957593542847ea9...,0,99999999999
16,12395733,0x9df7229a71944d08e7efd5d4b9ae71ee9f6165b611e8...,0,99999999999
17,12395794,0x492c9af64e972b1a04e2bbfef6726207bd28d95240d0...,0,99999999999
18,12396354,0xdd9aae26a1fb990d09b703fb54b9b582f1b4de175069...,0,99999999999
19,12398079,0x509656be5ef8f242bd030081973e22ccea59e9631647...,0,99999999999
20,12398288,0xab9cb38e16ae398c6adbea58764a816dc916256d2ffa...,0,99999999999
21,12398773,0x891cc254191d08be6bd53caa7af4dc3b83b41c3ab86c...,0,99999999999
22,12398774,0x6c856fe10df018e14dc83c00a74f552939354143243e...,0,99999999999
23,12400729,0xdd24797ed4eca7b07c84d67df344583b1bc21a4cffd5...,0,99999999999
24,12405559,0x9c4344670ad651b2c502badeb037b4dcefe19bb795af...,0,99999999999
25,12406647,0xbee13c51fb19976b75d39e5c0dbc92907ccbda01bb2e...,0,99999999999
26,12413533,0x04e7bb3aec369ebc6363b8fccf2cbf2c0303024145bd...,0,99999999999
27,12713248,0x8f2fe3f7de818bb86552b0a8973fece583f33c4960ff...,99999999980354914,0

In [18]:
# Below web3 may not work with some node RPC providers
if False:
    contract = Contract(address='0x0d4a11d5EEaaC28EC3F61d100daF4d40471f1852')
    swap_events = contract.events.Swap.createFilter(
        fromBlock=0,
        toBlock=context.block_number
    ).get_all_entries()

In [19]:
10 / 100, block_number - 1000, block_number - 990

(0.1, 17634699, 17634709)

In [20]:
contract = Contract(address='0x0d4a11d5EEaaC28EC3F61d100daF4d40471f1852')
pd.DataFrame(contract.fetch_events(contract.events.Swap, from_block=block_number -
             1000, to_block=block_number-990, by_range=11))

,args,event,logIndex,transactionIndex,transactionHash,address,blockHash,blockNumber,sender,to,amount0In,amount1In,amount0Out,amount1Out
0,"(sender, to, amount0In, amount1In, amount0Out,...",Swap,270,112,"b'\xc7\x80\xe0[\x15\xba\xa2O\x87""\xdc\xef\xad;...",0x0d4a11d5EEaaC28EC3F61d100daF4d40471f1852,"b'""W\xba{\xfe\x86\x17_\x83C\xb9\r\\\x13\x9d\xf...",17634701,0x3fC91A3afd70395Cd496C647d5a6CC9D4B2b7FAD,0x076a3e1500f3110D8F4445D396A3d7cA6D0Ca269,0,6203058,3236351678749101,0
1,"(sender, to, amount0In, amount1In, amount0Out,...",Swap,365,155,b'\xc44\xb1\x9b\x99[\xdd9\xd1M\xdeG\xd6w\x0ba\...,0x0d4a11d5EEaaC28EC3F61d100daF4d40471f1852,b'\xa0~\x08\x94\xcb0\x08\xfe\x1c&)b\xe0\xd6m\x...,17634708,0x3fC91A3afd70395Cd496C647d5a6CC9D4B2b7FAD,0xeefC2A37F38819D099b9B01AAfE782381d15dF76,0,509142090,265632548331954433,0
2,"(sender, to, amount0In, amount1In, amount0Out,...",Swap,67,14,b'\r\xfb:d.\xbc:\xe0UQ\xff\x949\x0b\x94u4i1\xa...,0x0d4a11d5EEaaC28EC3F61d100daF4d40471f1852,b'.\x8a\xc2\x1f\xf2\x8e\xb6P\xceS\xdfr\xcf\x01...,17634709,0xDef1C0ded9bec7F1a1670819833240f027b25EfF,0xc6A45EcDC8bCEF94c476647be1303fd83D438cD0,0,2500000000,1304181470135496181,0