https://gov.indexcoop.com/t/finance-nest-a-thread-of-monthly-financial-report-publications/3661/26

- Ethereum Investment Account: 0x462A63D4405A6462b157341A78Fd1baBfD3F8065
- Ethereum Operations Account: 0xFafd604d1CC8b6B3B6CC859cF80Fd902972371C1
- Ethereum Protocol Owned Liquidity Account: 0x3a36b94689f303aAf9BFE761068Efb8F78912023
- Polygon operations:  0xDECC5b013C74d8d3cEf1F8918768DDa17490B505

In [1]:
from credmark.cmf.ipython import create_cmf
from credmark.cmf.types import (Address, BlockNumber, Contract, Token, Portfolio, PriceWithQuote)
from credmark.cmf.types.data.fiat_currency_data import FIAT_CURRENCY_DATA_BY_SYMBOL
from credmark.cmf.model.errors import ModelRunError, ModelDataError
from web3 import HTTPProvider, Web3
from datetime import datetime, timezone, timedelta

cmf_param = {
    'chain_id': 1,    
    'block_number': None,
    'api_url': None,
    'use_local_models': '-', # use local to speed up
    'register_utility_global': True
}

# When using fill_db_evt in a loop, create cmf context outside the loop and sent _cmf_param = None
# When using fill_db_evt standalone, either 1) create cmf context outside the loop and sent _cmf_param = None, 2) sent in non-None cmf_param.
context, _model_loader = create_cmf(cmf_param)
context._web3 = Web3(HTTPProvider(context.web3.provider.endpoint_uri, request_kwargs={'timeout': 3600 * 10}))
context._web3.eth.default_block = int(context.block_number)
end_block = int(context.block_number)

In [2]:
import pandas as pd

# https://gov.indexcoop.com/t/finance-nest-a-thread-of-monthly-financial-report-publications/3661/26
# https://github.com/IndexCoop/address-book

df_addrs = pd.read_csv('https://raw.githubusercontent.com/IndexCoop/address-book/master/working-group-address-book.csv')

In [3]:
block_20221226 = BlockNumber.from_timestamp(datetime(2021, 12, 26, tzinfo=timezone.utc))
block_20221226

13877449

In [4]:
block_20221031 = BlockNumber.from_timestamp(datetime(2022, 10, 31,tzinfo=timezone.utc))
block_20220831 = BlockNumber.from_timestamp(datetime(2022, 8, 31,tzinfo=timezone.utc))

In [5]:
def pos_info(pos, blk):
    print(pos.asset.symbol)
    return (round(pos.amount * context.run_model('price.dex-db-prefer', {'address': pos.asset.address}, block_number=blk)['price'],1),
            pos.asset.symbol,
            pos.asset.address)

def index_coop_assets(_block_number):
    default_block = context.web3.eth.default_block
    context.web3.eth.default_block = _block_number
    try:
        eth_invest = '0x462A63D4405A6462b157341A78Fd1baBfD3F8065'
        eth_ops = '0xFafd604d1CC8b6B3B6CC859cF80Fd902972371C1'
        eth_liq = '0x3a36b94689f303aAf9BFE761068Efb8F78912023'

        index_coop_addrs = df_addrs.query('chainId == 1').address.to_list()
        index_coop_addrs = [eth_invest, eth_ops, eth_liq]

        position = context.run_model(
            'accounts.portfolio',
            {'accounts': index_coop_addrs},
            return_type = Portfolio,
            block_number = _block_number)

        poses = [
            [pos_info(pos, _block_number) for pos in position if pos.asset.address.checksum == Token('AAVE').address.checksum],
            [pos_info(pos, _block_number) for pos in position if pos.asset.address.checksum == Token('USDC').address.checksum],
            [pos_info(pos, _block_number) for pos in position if pos.asset.address.checksum == Token('DAI').address.checksum],
            [pos_info(pos, _block_number) for pos in position if pos.asset.address.checksum == Token('WETH').address.checksum],
            [pos_info(pos, _block_number) for pos in position if pos.asset.address.checksum == Token('0x5d3a536E4D6DbD6114cc1Ead35777bAB948E3643').address.checksum], # cDAI
            [pos_info(pos, _block_number) for pos in position if pos.asset.address.checksum == Token('0x39aa39c021dfbae8fac545936693ac917d5e7563').address.checksum], # cUSDC
            [pos_info(pos, _block_number) for pos in position if pos.asset.address.checksum == Token('0x33d63Ba1E57E54779F7dDAeaA7109349344cf5F1').address.checksum], # DATA 
            [pos_info(pos, _block_number) for pos in position if pos.asset.address.checksum == Token('0x47110d43175f7f2c2425e7d15792acc5817eb44f').address.checksum], # GMI
            [pos_info(pos, _block_number) for pos in position if pos.asset.address.checksum == Token('0x0954906da0Bf32d5479e25f46056d22f08464cab').address.checksum], # INDEX 
            [pos_info(pos, _block_number) for pos in position if pos.asset.address.checksum == Token('0x7C07F7aBe10CE8e33DC6C5aD68FE033085256A84').address.checksum], # icETH 
            [pos_info(pos, _block_number) for pos in position if pos.asset.address.checksum == Token('0x02e7ac540409d32c90bfb51114003a9e1ff0249c').address.checksum], # JPG
            [pos_info(pos, _block_number) for pos in position if pos.asset.address.checksum == Token('0xaa6e8127831c9de45ae56bb1b0d4d4da6e5665bd').address.checksum], # ETH2x-FLI
            [pos_info(pos, _block_number) for pos in position if pos.asset.address.checksum == Token('0x3Ad707dA309f3845cd602059901E39C4dcd66473').address.checksum], # ETH2x-FLI-P (Polygon)
            # [pos_info(pos, _block_number) for pos in position if pos.asset.address.checksum == Token('0xAbDDAfB225e10B90D798bB8A886238Fb835e2053').address.checksum], # G-UNI-DAI-USDC
            # [pos_info(pos, _block_number) for pos in position if pos.asset.address.checksum == Token('0x0D2A2Df39436b5c5f986552869124bA29b7Df1AC').address.checksum], # G-UNI-icETH-WETH
        ]
    finally:
        context.web3.eth.default_block = default_block

    return poses

In [6]:
poses_20220831 = index_coop_assets(block_20220831)
df_pos = pd.DataFrame([p[0] for p in poses_20220831 if len(p) > 0])
df_pos

USDC
DAI
WETH
cDAI
cUSDC
DATA
GMI
INDEX
icETH
JPG

           0      1                                           2
0  3007754.3   USDC  0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48
1  1463426.8    DAI  0x6b175474e89094c44da98b954eedeac495271d0f
2    16261.0   WETH  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2
3   380206.2   cDAI  0x5d3a536e4d6dbd6114cc1ead35777bab948e3643
4   737683.4  cUSDC  0x39aa39c021dfbae8fac545936693ac917d5e7563
5      195.8   DATA  0x33d63ba1e57e54779f7ddaeaa7109349344cf5f1
6     1080.9    GMI  0x47110d43175f7f2c2425e7d15792acc5817eb44f
7   786926.4  INDEX  0x0954906da0bf32d5479e25f46056d22f08464cab
8        0.0  icETH  0x7c07f7abe10ce8e33dc6c5ad68fe033085256a84
9     1063.6    JPG  0x02e7ac540409d32c90bfb51114003a9e1ff0249c

### Obtain LP positions

In [7]:
g_uni_dai_usdc = Token('0xAbDDAfB225e10B90D798bB8A886238Fb835e2053')
default_block = context.web3.eth.default_block
context.web3.eth.default_block = block_20221031

t0 = Token(g_uni_dai_usdc.functions.token0().call())
t1 = Token(g_uni_dai_usdc.functions.token1().call())

output = (g_uni_dai_usdc.functions.gelatoBalance0().call() //
10**t0.decimals *
t0.models.price.dex_db_prefer(return_type=PriceWithQuote,block_number=block_20221031).price, t0.symbol,

g_uni_dai_usdc.functions.gelatoBalance1().call() //
10**t1.decimals *
t1.models.price.dex_db_prefer(return_type=PriceWithQuote,block_number=block_20221031).price, t1.symbol,
)
context.web3.eth.default_block = default_block

display(output)

(3354.233788490218, 'DAI', 3096.574187459024, 'USDC')

## 2. Streaming

In [8]:
# https://docs.tokensets.com/developers/contracts/deployed/protocol

setv2_BasicIssuanceModule = Contract('0xd8EF3cACe8b4907117a45B0b125c68560532F94D')
setv2_StreamingFeeModule = Contract('0x08f866c74205617B6F3903EF481798EcED10cDEC')
setv2_DebtIssuanceModule = Contract('0x39F024d621367C044BacE2bf0Fb15Fb3612eCB92')

In [9]:
def setv2_fee(_setv_module, _start_block, _end_block, _set_token_addr):
    set_token_addr = Address(_set_token_addr).checksum
    df_mint = pd.DataFrame(
        _setv_module.fetch_events(
            _setv_module.events.SetTokenIssued,
            from_block = _start_block,
            to_block = _end_block,
            argument_filters={'_setToken': set_token_addr},
            contract_address=_setv_module.address,
        )
    )

    df_burn = pd.DataFrame(
        _setv_module.fetch_events(
            _setv_module.events.SetTokenRedeemed,
            from_block = _start_block,
            to_block = _end_block,
            argument_filters={'_setToken': set_token_addr},
            contract_address=_setv_module.address,
        )
    )
    
    if not df_burn.empty:
        df_burn = df_burn.assign(_quantity = lambda r: -1 * r._quantity)
    else:
        df_burn = pd.DataFrame(
            columns=['blockNumber', 'logIndex', 'transactionIndex', '_quantity', '_redeemer'],
            data=[(0, 0, 0, 0, '')]).query('_redeemer != ""')

    df_mint_burn = (pd
        .concat([df_mint, df_burn])
        .reset_index(drop=True)
        .loc[:, ['blockNumber', 'logIndex', 'transactionIndex', '_quantity', '_redeemer']]
        .sort_values(['blockNumber', 'logIndex', 'transactionIndex'])
    )

    return df_mint_burn

In [10]:
dpi_token_addr = Token('0x1494CA1F11D487c2bBe4543E90080AeBa4BA3C2b').address.checksum
setv2_fee(setv2_BasicIssuanceModule, 0, 16_000_000, dpi_token_addr)

      blockNumber  logIndex  transactionIndex              _quantity _redeemer
0        10836209       132                69    1000000000000000000       NaN
1        10836292       304               123    1041114171118800626       NaN
2        10837157       188                50    1108593800732888550       NaN
3        10842731       108               141   50000000000000000000       NaN
4        10843668       166                72    2803889684007558244       NaN
...           ...       ...               ...                    ...       ...
3368     15992962        64                 0  237617730000000000000       NaN
3369     15992996        80                 2   75932230000000000000       NaN
3370     15998844       254               104   79634392964281603840       NaN
3371     15999006        64                 0   87909210000000000000       NaN
3372     15999032        70                 1   85367200000000000000       NaN

[5535 rows x 5 columns]

In [11]:
block_20200910 = BlockNumber.from_timestamp(datetime(2020, 9, 10, 23, 59, 59, tzinfo=timezone.utc))
block_20200911 = BlockNumber.from_timestamp(datetime(2020, 9, 12, 23, 59, 59, tzinfo=timezone.utc))-1
block_20200912 = BlockNumber.from_timestamp(datetime(2020, 9, 13, 23, 59, 59, tzinfo=timezone.utc))-1
block_20200919 = BlockNumber.from_timestamp(datetime(2020, 9, 19, 23, 59, 59, tzinfo=timezone.utc))-1
block_20200922 = BlockNumber.from_timestamp(datetime(2020, 9, 22, 23, 59, 59, tzinfo=timezone.utc))-1
block_20200923 = BlockNumber.from_timestamp(datetime(2020, 9, 23, 23, 59, 59, tzinfo=timezone.utc))-1
block_20230116 = BlockNumber.from_timestamp(datetime(2023, 1, 16, 23, 59, 59, tzinfo=timezone.utc))-1

In [12]:
df = setv2_fee(setv2_DebtIssuanceModule, 0, context.block_number, '0x0b498ff89709d3838a063f1dfa463091f9801c2b')
df

,blockNumber,logIndex,transactionIndex,_quantity,_redeemer
0,12377073,83,55,10000000000000000000,NaN
1,12383329,244,126,1000000000000000000,NaN
2,12383787,291,103,1747243767523597251116,NaN
3,12388983,192,83,1000000000000000000,NaN
4,12410924,282,172,143273720303189842535,NaN
...,...,...,...,...,...
2381,17041986,121,9,-983388616195340071966,0x00000000000747D525E898424E8774F7Eb317d00
2382,17048062,30,1,-602931905757325282286,0x00000000000747D525E898424E8774F7Eb317d00
2383,17048491,75,17,-729441049836589273212,0x00000000000747D525E898424E8774F7Eb317d00
1430,17057883,28,1,999029221455726432220,NaN
1431,17063015,62,10,714385927589802300706,NaN

In [13]:
def index_coop_revenue_issue(_token_addr, _setv2_mod, _year, _month, _streaming_rate, _coop_rate, _mint_redeem_rate = 0.0, _coop_mr_rate = 0.0):
    prod_token = Token(_token_addr)
    prod_token_decimals = prod_token.decimals

    days_in_month = pd.Timestamp(year=_year, month=_month, day=1).days_in_month
    prev_eom = datetime(_year, _month, 1, 23, 59, 59, tzinfo=timezone.utc) - timedelta(days=1)
    this_eom = datetime(_year, _month, days_in_month, 23, 59, 59, tzinfo=timezone.utc)
    start_block = BlockNumber.from_timestamp(prev_eom)+1
    end_block = BlockNumber.from_timestamp(this_eom)-1

    df = setv2_fee(_setv2_mod, 0, end_block, _token_addr)

    prev_aum = df.query('blockNumber <= @start_block')['_quantity'].sum()
    prev_end_block = start_block

    row_data = []

    for day in range(1, days_in_month+1):
        blk_eod = BlockNumber.from_timestamp(datetime(_year, _month, day, 23, 59, 59, tzinfo=timezone.utc))-1
        unit = df.query('blockNumber <= @blk_eod')['_quantity'].sum() / 10 ** prod_token_decimals
        mint_redeem_events = df.query('(blockNumber > @prev_end_block) & (blockNumber <= @blk_eod)')['_quantity'] / 10 ** prod_token_decimals
        mint_unit = mint_redeem_events.loc[mint_redeem_events > 0].sum()
        redeem_unit = mint_redeem_events.loc[mint_redeem_events < 0].sum()
        mint_redeem_unit = mint_unit - redeem_unit
        prev_end_block = blk_eod
        try:
            price = prod_token.models(block_number = blk_eod).price.dex_db_prefer()['price']
        except (ModelDataError, ModelRunError):
            try:
                price = prod_token.models(block_number = blk_eod).price.dex_db_ring3()['price'] 
            except (ModelDataError, ModelRunError):
                price = 1

        aum = unit * price
        
        fee = aum * _streaming_rate / 365
        fee_coop = fee * _coop_rate
        fee_method = fee * (1 - _coop_rate)
        
        fee_mint = mint_redeem_unit * price * _mint_redeem_rate
        fee_mint_coop = fee_mint * _coop_mr_rate
        fee_mint_method = fee_mint * (1 - _coop_mr_rate)
        
        row_data.append((blk_eod, day, mint_unit, redeem_unit, mint_redeem_unit, unit, price, aum,
                         fee, fee_coop, fee_method, fee_mint, fee_mint_coop, fee_mint_method))

    df_row = pd.DataFrame(row_data,
        columns = ['block_number', 'day', 'mint_unit', 'redeem_unit', 'mint_redeem_unit', 'unit',
                   'price', 'aum',
                   'fee', 'fee_coop', 'fee_method', 'fee_mint', 'fee_mint_coop', 'fee_mint_method'])
    return df_row

In [14]:
# total supply of the token != issued + redeemed

try:
    default_block = context.web3.eth.default_block
    context.web3.eth.default_block = 12480784

    display(Token('0x0b498ff89709d3838a063f1dfa463091f9801c2b').total_supply_scaled)
finally:
    context.web3.eth.default_block = default_block

177767.33917883958

In [15]:
year = 2022
month = 7

In [16]:
df_dpi = index_coop_revenue_issue('0x1494ca1f11d487c2bbe4543e90080aeba4ba3c2b', setv2_BasicIssuanceModule, year, month, 0.0095, 0.7)
df_mvi = index_coop_revenue_issue('0x72e364f2abdc788b7e918bc238b21f109cd634d7', setv2_BasicIssuanceModule, year, month, 0.0095, 1.0)
df_data = index_coop_revenue_issue('0x33d63ba1e57e54779f7ddaeaa7109349344cf5f1', setv2_BasicIssuanceModule, year, month, 0.0095, 0.7)
df_bed = index_coop_revenue_issue('0x2af1df3ab0ab157e1e2ad8f88a7d04fbea0c7dc6', setv2_BasicIssuanceModule, year, month, 0.0025, 0.5)
df_gmi = index_coop_revenue_issue('0x47110d43175f7f2c2425e7d15792acc5817eb44f', setv2_BasicIssuanceModule, year, month, 0.0195, 0.6)

df_eth2x = index_coop_revenue_issue('0xaa6e8127831c9de45ae56bb1b0d4d4da6e5665bd', setv2_DebtIssuanceModule, year, month, 0.0195, 0.6, 0.001, 0.6)
df_btc2x = index_coop_revenue_issue('0x0b498ff89709d3838a063f1dfa463091f9801c2b', setv2_DebtIssuanceModule, year, month, 0.0195, 0.6, 0.001, 0.6)

In [17]:
df_eth2x

,block_number,day,mint_unit,redeem_unit,mint_redeem_unit,unit,price,aum,fee,fee_coop,fee_method,fee_mint,fee_mint_coop,fee_mint_method
0,15059679,1,81472.760397,-85404.785146,166877.545543,1.416710e+06,6.283714,8.902201e+06,475.597046,285.358227,190.238818,1048.610781,629.166469,419.444312
1,15066167,2,45388.364004,-43109.596980,88497.960984,1.418989e+06,6.395652,9.075359e+06,484.847959,290.908776,193.939184,566.002182,339.601309,226.400873
2,15072707,3,26192.913706,-26202.483326,52395.397032,1.418979e+06,6.454510,9.158816e+06,489.306595,293.583957,195.722638,338.186606,202.911963,135.274642
3,15079142,4,34398.260724,-57673.996013,92072.256736,1.395704e+06,7.423804,1.036143e+07,553.555815,332.133489,221.422326,683.526373,410.115824,273.410549
4,15085619,5,51898.363149,-40957.486676,92855.849825,1.406644e+06,7.167150,1.008163e+07,538.607730,323.164638,215.443092,665.511821,399.307093,266.204729
5,15092099,6,41348.600206,-57141.475550,98490.075756,1.390852e+06,7.906613,1.099692e+07,587.506924,352.504154,235.002770,778.722879,467.233728,311.489152
6,15098518,7,32032.301906,-23585.558854,55617.860760,1.399298e+06,8.479007,1.186466e+07,633.865364,380.319218,253.546146,471.584205,282.950523,188.633682
7,15105071,8,32429.822107,-19774.376979,52204.199086,1.411954e+06,8.198288,1.157560e+07,618.422616,371.053570,247.369047,427.985037,256.791022,171.194015
8,15111485,9,12471.455504,-9601.371835,22072.827339,1.414824e+06,8.238347,1.165581e+07,622.707646,373.624588,249.083058,181.843614,109.106168,72.737446
9,15117980,10,21594.725929,-8353.769681,29948.495610,1.428065e+06,7.572230,1.081364e+07,577.714758,346.628855,231.085903,226.776902,136.066141,90.710761
10,15124464,11,28545.060298,-4189.614764,32734.675062,1.452420e+06,6.711229,9.747525e+06,520.758170,312.454902,208.303268,219.689900,131.813940,87.875960
11,15130975,12,62890.977724,-23509.811938,86400.789662,1.491801e+06,5.974118,8.912198e+06,476.131130,285.678678,190.452452,516.168544,309.701126,206.467417
12,15137387,13,103252.391706,-100114.790424,203367.182130,1.494939e+06,6.896248,1.030947e+07,550.779883,330.467930,220.311953,1402.470465,841.482279,560.988186
13,15143927,14,39600.784027,-58198.944217,97799.728244,1.476341e+06,7.879897,1.163341e+07,621.511161,372.906696,248.604464,770.651808,462.391085,308.260723
14,15150363,15,31428.607626,-42904.015107,74332.622733,1.464865e+06,8.392575,1.229399e+07,656.802380,394.081428,262.720952,623.842128,374.305277,249.536851
15,15156811,16,31741.722241,-64155.487686,95897.209928,1.432452e+06,9.873129,1.414278e+07,755.573156,453.343894,302.229263,946.805496,568.083298,378.722199
16,15163237,17,35152.532856,-24196.999624,59349.532480,1.443407e+06,9.730428,1.404497e+07,750.347725,450.208635,300.139090,577.496373,346.497824,230.998549
17,15169693,18,29954.335376,-52235.750649,82190.086025,1.421126e+06,12.930616,1.837603e+07,981.733174,589.039904,392.693270,1062.768412,637.661047,425.107365
18,15176169,19,51522.610885,-38373.032649,89895.643534,1.434275e+06,12.307580,1.765246e+07,943.076590,565.845954,377.230636,1106.397860,663.838716,442.559144
19,15182612,20,40262.210952,-46757.162637,87019.373589,1.427780e+06,12.057577,1.721557e+07,919.736039,551.841624,367.894416,1049.242790,629.545674,419.697116
20,15189086,21,28976.062105,-33023.865218,61999.927323,1.423733e+06,12.828959,1.826501e+07,975.801724,585.481034,390.320690,795.394503,477.236702,318.157801
21,15195554,22,20913.482148,-14491.222108,35404.704256,1.430155e+06,12.230051,1.749087e+07,934.443565,560.666139,373.777426,433.001335,259.800801,173.200534
22,15202010,23,12914.105842,-14528.801824,27442.907666,1.428540e+06,12.405274,1.772143e+07,946.761442,568.056865,378.704577,340.436788,204.262073,136.174715
23,15208411,24,36782.333825,-25231.718977,62014.052803,1.440091e+06,13.119174,1.889280e+07,1009.341483,605.604890,403.736593,813.573176,488.143905,325.429270
24,15214806,25,44223.498301,-24607.678960,68831.177261,1.459707e+06,10.866193,1.586145e+07,847.392752,508.435651,338.957101,747.932878,448.759727,299.173151
25,15221186,26,33978.154798,-30137.572061,64115.726859,1.463547e+06,10.926482,1.599142e+07,854.336231,512.601739,341.734492,700.559328,420.335597,280.223731
26,15227619,27,14651.360449,-56350.603326,71001.963775,1.421848e+06,13.643145,1.939848e+07,1036.356987,621.814192,414.542795,968.690055,581.214033,387.476022
27,15234057,28,41133.953447,-37828.685767,78962.639215,1.425153e+06,14.946969,2.130172e+07,1138.037161,682.822296,455.214864,1180.252144,708.151286,472.100858
28,15240480,29,44741.064913,-23292.779108,68033.844021,1.446601e+06,14.975154,2.166308e+07,1157.342663,694.405598,462.937065,1018.817315,611.290389,407.526926
29,15246901,30,6813.984852,-28301.704448,35115.689300,1.425114e+06,14.457094,2.060300e+07,1100.708395,660.425037,440.283358,507.670809,304.602486,203.068324
30,15253304,31,12319.329926,-17044.413228,29363.743154,1.420389e+06,14.352952,2.038677e+07,1089.156271,653.493763,435.662509,421.456408,252.873845,168.582563

In [18]:
fee_total = 0
fee_coop_total = 0
rows = []
for name, df_prod in zip(['dpi', 'mvi', 'data', 'bed', 'gmi', 'eth2x', 'btc2x'], [df_dpi, df_mvi, df_data, df_bed, df_gmi, df_eth2x, df_btc2x]):
    assert np.isclose(0, ((df_prod.fee + df_prod.fee_mint) - (df_prod.fee_coop + df_prod.fee_mint_coop)  - (df_prod.fee_method + df_prod.fee_mint_method)).abs().mean())

    item_fee_total = (df_prod.fee + df_prod.fee_mint).sum()
    item_fee_coop_total = (df_prod.fee_coop + df_prod.fee_mint_coop).sum()

    fee_total += item_fee_total
    fee_coop_total += item_fee_coop_total

    row = (name, round(item_fee_total, 1), round(item_fee_coop_total,1), round(fee_total,1), round(fee_coop_total, 1))
    rows.append(row)
    # print(row)

pd.DataFrame(columns=['product', 'item_fee_total', 'item_fee_coop_total', 'fee_total', 'fee_coop_total',],data=rows).to_excel('202206.xlsx')

In [19]:
df_eth2x = index_coop_revenue_issue('0xaa6e8127831c9de45ae56bb1b0d4d4da6e5665bd', setv2_DebtIssuanceModule, 2022, 9, 0.0195, 0.6, 0.001, 0.6)

In [20]:
pd.DataFrame(
    setv2_BasicIssuanceModule.fetch_events(
        setv2_BasicIssuanceModule.events.SetTokenIssued,
        from_block = 13_000_000,
        to_block = 13_010_000,
        argument_filters={'_setToken': '0x1494CA1F11D487c2bBe4543E90080AeBa4BA3C2b'}
    )
)

pd.DataFrame(
    setv2_BasicIssuanceModule.fetch_events(
        setv2_BasicIssuanceModule.events.SetTokenRedeemed,
        from_block = 13_000_000,
        to_block = 13_010_000,
        argument_filters={'_setToken': '0x1494CA1F11D487c2bBe4543E90080AeBa4BA3C2b'}
    )
)

,args,event,logIndex,transactionIndex,transactionHash,address,blockHash,blockNumber,_setToken,_redeemer,_to,_quantity
0,"(_setToken, _redeemer, _to, _quantity)",SetTokenRedeemed,58,24,b'\xd6\xba\xfd\xfc\xae\xb4\x17\xbcj\\\x12\xd8\...,0xd8EF3cACe8b4907117a45B0b125c68560532F94D,b'B\xf0\xe9\x91[\xdb^i9\xff\xa0\xa69i\x84lr\xf...,13001034,0x1494CA1F11D487c2bBe4543E90080AeBa4BA3C2b,0x56178a0d5F301bAf6CF3e1Cd53d9863437345Bf9,0x56178a0d5F301bAf6CF3e1Cd53d9863437345Bf9,453931586180050818258
1,"(_setToken, _redeemer, _to, _quantity)",SetTokenRedeemed,262,159,b'\xea\x83k\xe0\xd0)Cj\x0b\x12\xa3\x05\xd34\xd...,0xd8EF3cACe8b4907117a45B0b125c68560532F94D,b'\xf1\xbe\x12z\x8bD?\xc4)\x01\xdb\x9b\xfd\x8b...,13001919,0x1494CA1F11D487c2bBe4543E90080AeBa4BA3C2b,0x56178a0d5F301bAf6CF3e1Cd53d9863437345Bf9,0x56178a0d5F301bAf6CF3e1Cd53d9863437345Bf9,473628007723075697092

In [21]:
pd.DataFrame(
    setv2_DebtIssuanceModule.fetch_events(
        setv2_DebtIssuanceModule.events.SetTokenIssued,
        from_block = 13_000_000,
        to_block = 13_010_000,
        argument_filters={'_setToken': Address('0xaa6e8127831c9de45ae56bb1b0d4d4da6e5665bd').checksum}
    )
)

pd.DataFrame(
    setv2_DebtIssuanceModule.fetch_events(
        setv2_DebtIssuanceModule.events.SetTokenRedeemed,
        from_block = 13_000_000,
        to_block = 13_010_000,
        argument_filters={'_setToken': Address('0xaa6e8127831c9de45ae56bb1b0d4d4da6e5665bd').checksum}
    )
)

,args,event,logIndex,transactionIndex,transactionHash,address,blockHash,blockNumber,_setToken,_redeemer,_to,_quantity,_managerFee,_protocolFee
0,"(_setToken, _redeemer, _to, _quantity, _manage...",SetTokenRedeemed,40,2,"b'e\xe8,\xd6\xc6\x93\xdd\x81!\xe6\xf6\x06\x9cA...",0x39F024d621367C044BacE2bf0Fb15Fb3612eCB92,b'\xf4V\x15*\xa7\x05u\xd7\x90B-\x0e\xcf\xa7|T\...,13000486,0xAa6E8127831c9DE45ae56bB1b0d4D4Da6e5665BD,0x00000000000123685885532dcB685c442Dc83126,0x00000000000123685885532dcB685c442Dc83126,1155970187159083488762,1155970187159083488,0
1,"(_setToken, _redeemer, _to, _quantity, _manage...",SetTokenRedeemed,127,52,b'\x89\xa6]\xba\xfe\xa0g\x9c\xd79j\xcb<P\x07\x...,0x39F024d621367C044BacE2bf0Fb15Fb3612eCB92,"b'\x90\tOpV-\xb5\x84\xea""\xb2\xceOf\xb2\xc7Z\x...",13000635,0xAa6E8127831c9DE45ae56bB1b0d4D4Da6e5665BD,0x56178a0d5F301bAf6CF3e1Cd53d9863437345Bf9,0x56178a0d5F301bAf6CF3e1Cd53d9863437345Bf9,628600927197210009504,628600927197210009,0
2,"(_setToken, _redeemer, _to, _quantity, _manage...",SetTokenRedeemed,443,185,b'Ba@\xd5\xa0\x97\xba\x1e\xde\xb9`\xab\xa0GA\x...,0x39F024d621367C044BacE2bf0Fb15Fb3612eCB92,b'K\xc8\xcd\xc9\xd6]\'\xe1%\xc7\x9c\x0fs\x1c\x...,13000685,0xAa6E8127831c9DE45ae56bB1b0d4D4Da6e5665BD,0x56178a0d5F301bAf6CF3e1Cd53d9863437345Bf9,0x56178a0d5F301bAf6CF3e1Cd53d9863437345Bf9,451695705938162628491,451695705938162628,0
3,"(_setToken, _redeemer, _to, _quantity, _manage...",SetTokenRedeemed,74,51,b'\xae\xe2\xb7;\x08\xffg@\xf7\xe6\xea\x05\xd9\...,0x39F024d621367C044BacE2bf0Fb15Fb3612eCB92,b'\xedA\rR\x16\xfa\xf2\xeax\xd3O\xdc\x11\xe0Y\...,13000831,0xAa6E8127831c9DE45ae56bB1b0d4D4Da6e5665BD,0x56178a0d5F301bAf6CF3e1Cd53d9863437345Bf9,0x56178a0d5F301bAf6CF3e1Cd53d9863437345Bf9,509964943564461366361,509964943564461366,0
4,"(_setToken, _redeemer, _to, _quantity, _manage...",SetTokenRedeemed,63,39,b'[b\xff\xcd\xcf\x02\xc1\x988Z}\xc1\xd1h@\x83\...,0x39F024d621367C044BacE2bf0Fb15Fb3612eCB92,b'\x0689\xe1o\x19\xcd=R\xc0\xd6\x80[\xba\x0bQ\...,13000973,0xAa6E8127831c9DE45ae56bB1b0d4D4Da6e5665BD,0x56178a0d5F301bAf6CF3e1Cd53d9863437345Bf9,0x56178a0d5F301bAf6CF3e1Cd53d9863437345Bf9,649725287793746197710,649725287793746197,0
5,"(_setToken, _redeemer, _to, _quantity, _manage...",SetTokenRedeemed,168,58,"b""\x86\xeb\xf0'\xe1\xe0_\x87\xf2tNI\xa4\x05\x9...",0x39F024d621367C044BacE2bf0Fb15Fb3612eCB92,b'\xcb\xb1f\xa1-\x80\x80\x10e\xcb\x1a\xb3~\xf1...,13002445,0xAa6E8127831c9DE45ae56bB1b0d4D4Da6e5665BD,0x56178a0d5F301bAf6CF3e1Cd53d9863437345Bf9,0x56178a0d5F301bAf6CF3e1Cd53d9863437345Bf9,1008695583820439358189,1008695583820439358,0
6,"(_setToken, _redeemer, _to, _quantity, _manage...",SetTokenRedeemed,54,20,b'\x97X\x9c7\x15\xe2e\xaf\xb0p\xb2\x1b\xd3\x81...,0x39F024d621367C044BacE2bf0Fb15Fb3612eCB92,b'\x07\xae\x8e\x91V\x05\x0f\x12\xca_\x12z\xad\...,13002462,0xAa6E8127831c9DE45ae56bB1b0d4D4Da6e5665BD,0x56178a0d5F301bAf6CF3e1Cd53d9863437345Bf9,0x56178a0d5F301bAf6CF3e1Cd53d9863437345Bf9,917767913708944767264,917767913708944767,0
7,"(_setToken, _redeemer, _to, _quantity, _manage...",SetTokenRedeemed,94,34,b'\x0e\x7f\xdb\x1e\xbc]0\xd4Y\xc1\xbaQ(s\xfb\x...,0x39F024d621367C044BacE2bf0Fb15Fb3612eCB92,b'O3ur4\xc3\x16\xee\x11\xee)\x0e4\x8cG\xab=\x9...,13005991,0xAa6E8127831c9DE45ae56bB1b0d4D4Da6e5665BD,0x56178a0d5F301bAf6CF3e1Cd53d9863437345Bf9,0x56178a0d5F301bAf6CF3e1Cd53d9863437345Bf9,1252461338674781001813,1252461338674781001,0
8,"(_setToken, _redeemer, _to, _quantity, _manage...",SetTokenRedeemed,146,111,b'Q\t\x12\xba\xcf\xeb\xd6\xc7\xbc\xa5-\xe2\xa0...,0x39F024d621367C044BacE2bf0Fb15Fb3612eCB92,b'|CE\xd0\x06Ed\xc6/U\xddp\xbc\x0e \xf8\xe3\xe...,13006578,0xAa6E8127831c9DE45ae56bB1b0d4D4Da6e5665BD,0x56178a0d5F301bAf6CF3e1Cd53d9863437345Bf9,0x56178a0d5F301bAf6CF3e1Cd53d9863437345Bf9,533080113509840324593,533080113509840324,0
9,"(_setToken, _redeemer, _to, _quantity, _manage...",SetTokenRedeemed,31,35,b'\xb7B\x8e\xd5\xb0\xfc\xc8I\xab\xfbI\t}\x90\x...,0x39F024d621367C044BacE2bf0Fb15Fb3612eCB92,b'\xaf\x8f\xe9\xaf\xdb6e\xa4\x05\xb3d\xb4\xe5\...,13006596,0xAa6E8127831c9DE45ae56bB1b0d4D4Da6e5665BD,0x56178a0d5F301bAf6CF3e1Cd53d9863437345Bf9,0x56178a0d5F301bAf6CF3e1Cd53d9863437345Bf9,825938353199556221616,825938353199556221,0
10,"(_setToken, _redeemer, _to, _quantity, _manage...",SetTokenRedeemed,88,81,"b""4\x1f'\xf65f\xd3\x85\x12)\x97\xc2=\x9c\xdd\x...",0x39F024d621367C044BacE2bf0Fb15Fb3612eCB92,b'\xf9E\xeb\xf4s\x82aQ\x8c\xe6\x88I\x8c\xb3\x0...,13006681,0xAa6E8127831c9DE45ae56bB1b0d4D4Da6e5665BD,0x56178a0d5F301bAf6CF3e1Cd53d9863437345Bf9,0x56178a0d5F301bAf6CF3e1Cd53d9863437345Bf9,3177706713841592711124,3177706713841592711,0
11,"(_setToken, _redeemer, _to, _quantity, _manage...",SetTokenRedeemed,39,3,b'\x80G\xdf\xf7\xb8\x14\xe6.H`\t9\x00?\xc7\x1c...,0x39F024d621367C044BacE2bf0Fb15Fb3612eCB92,b'\rk :\xd8\x95\xd8(\x1fAw\xc6\x81\xa7W;\xc6\x...,13006682,0xAa6E8127831c9DE45ae56bB1b0d4D4Da6e5665BD,0x00000000000123685885532dcB685c442Dc83126,0x00000000000123685885532dcB685c442Dc83126,921298263594977524908,921298263594977524,0
12,"(_setToken, _redeemer, _to, _quantity, _manage...",SetTokenRedeemed,134,67,"b'\xc8<B\xb0j\xff\x95,>\r=_R\n\xfehGD\xd8\xc5\...",0x39F024d621367C044BacE2bf0Fb15Fb3612eCB92,b'l\x04!\xcdr\x1b\xd6x\x15\xc8q\x1e\x9a\xce\xe...,13006703,0xAa6E8127831c9DE45ae56bB1b0d4D4Da6e5665BD,0x56178a0d5F301bAf6CF3e1Cd53d9863437345Bf9,0x56178a0d5F301bAf6CF3e1Cd53d9863437345Bf9,607638012395203630918,607638012395203630,0
13,"(_setToken, _redeemer, _to, _quantity, _manage...",SetTokenRedeemed,60,47,b'\xfb\xd55\x13\x03\x0c\xf1\x8d%\x84\xc1/\xd5\...,0x39F024d621367C044BacE2bf0Fb15Fb3612eCB92,b'\xae\x1bI\xe0\xc6>\x02e\x0f7\xa7\xb6\x8e\xf1...,13006724,0xAa6E8127831c9DE45ae56bB1b0d4D4Da6e5665BD,0x56178a0d5F301bAf6CF3e1Cd53d9863437345Bf9,0x56178a0d5F301bAf6CF3e1Cd53d9863437345Bf9,1029873680302234464741,1029873680302234464,0
14,"(_setToken, _redeemer, _to, _quantity, _manage...",SetTokenRedeemed,27,1,b'\xae6\x0e\xb8\nr#\xc5\xe8\xaa\x9a\xe5\x90^\x...,0x39F024d621367C044BacE2bf0Fb15Fb3612eCB92,b'\xe4Y\xd6\xa6Es\xf5\x92\xa3\xfe\x87\xb8\xd8\...,13008479,0xAa6E8127831c9DE45ae56bB1b0d4D4Da6e5665BD,0x00000000000123685885532dcB685c442Dc83126,0x00000000000123685885532dcB685c442Dc83126,3021329562815386138388,3021329562815386138,0
15,"(_setToken, _redeemer, _to, _quantity, _manage...",SetTokenRedeemed,81,36,b'\xac\xee\xe5\x0e\xd3Kb\x02\xcf\x1ay\x91{\xa8...,0x39F024d621367C044BacE2bf0Fb15Fb3612eCB92,b'\xc2\x9a\xab\xa8\xf1-\xeeti\xf7\x10\x1c\x90\...,13009528,0xAa6E8127831c9DE45ae56bB1b0d4D4Da6e5665BD,0x56178a0d5F301bAf6CF3e1Cd53d9863437345Bf9,0x56178a0d5F301bAf6CF3e1Cd53d9863437345Bf9,988120068744820878670,988120068744820878,0
16,"(_setToken, _redeemer, _to, _quantity, _manage...",SetTokenRedeemed,135,129,b'S\xf5BT\xa0=\x1c:\x15ju\x8c\xee\xa50\xf3\xfb...,0x39F024d621367C044BacE2bf0Fb15Fb3612eCB92,b'\x13\x16I9\xccO3\xfd\x84\xb7O\x12B\xabc\x10\...,13009546,0xAa6E8127831c9DE45ae56bB1b0d4D4Da6e5665BD,0x56178a0d5F301bAf6CF3e1Cd53d9863437345Bf9,0x56178a0d5F301bAf6CF3e1Cd53d9863437345Bf9,724589806196770865260,724589806196770865,0

icETH: 

MNYe

DPI
- 0x1494ca1f11d487c2bbe4543e90080aeba4ba3c2b
- 0.95% = 70% Index Coop, 30% DeFi Pulse

MVI:
- setv2_BasicIssuanceModule
- 0x72e364f2abdc788b7e918bc238b21f109cd634d7
- 0.95% = 100% Index Coop

DATA:
- setv2_BasicIssuanceModule
- 0x33d63ba1e57e54779f7ddaeaa7109349344cf5f1
- 0.95% = 70% Index Coop, 30% DeFi Pulse

BED:
- setv2_BasicIssuanceModule
- 0x2af1df3ab0ab157e1e2ad8f88a7d04fbea0c7dc6
- 0.25% = 50% Index Coop, 50% Bankless

GMI:
- setv2_BasicIssuanceModule???
- 0x47110d43175f7f2c2425e7d15792acc5817eb44f
- 1.95% = 60% Index Coop, 40% Bankless

ETH2x-FLI:
- Debt
- 0xaa6e8127831c9de45ae56bb1b0d4d4da6e5665bd
- Streaming Fee: 1.95% (60% Index Coop, 40% DeFi Pulse)
- Mint/Redeem Fee: 0.1% (60% Index Coop, 40% DeFi Pulse)

BTC2x-FLI: Debt
- 0x0b498ff89709d3838a063f1dfa463091f9801c2b'
- Streaming Fee: 1.95% (60% Index Coop, 40% DeFi Pulse)
- Mint/Redeem Fee: 0.1% (60% Index Coop, 40% DeFi Pulse)

Polygon
- ETH2x-FLI
- iETH-FLI
- BTC2x-FLI
- iBTC-FLI
- MATIC2x-FLI
- iMATIC-FLI

In [22]:
# icETH
0x7C07F7aBe10CE8e33DC6C5aD68FE033085256A84

ic_eth_token = Token('0x7C07F7aBe10CE8e33DC6C5aD68FE033085256A84')
ic_eth_token_decimals = ic_eth_token.decimals

df_mint = pd.DataFrame(
    ic_eth_token.fetch_events(
        ic_eth_token.events.Transfer,
        from_block = 0,
        to_block = 16_001_000,
        argument_filters={'from': '0x0000000000000000000000000000000000000000'},
        contract_address=ic_eth_token.address
    ))

df_burn = pd.DataFrame(
    ic_eth_token.fetch_events(
        ic_eth_token.events.Transfer,
        from_block = 0,
        to_block = 16_001_000,
        argument_filters={'to': '0x0000000000000000000000000000000000000000'},
        contract_address=ic_eth_token.address
    )).loc[:, ['blockNumber', 'logIndex', 'from', 'to', 'value']]

if not df_mint.empty:
    df_mint = df_mint.loc[:, ['blockNumber', 'logIndex', 'from', 'to', 'value']]

if not df_burn.empty:
    df_burn = df_burn.loc[:, ['blockNumber', 'logIndex', 'from', 'to', 'value']].assign(value = lambda r: -1 * r.value)

df_mint_burn = (pd.concat([df_mint, df_burn])
    .sort_values(['blockNumber', 'logIndex']).reset_index(drop=True)
    .assign(value = lambda r, decs=ic_eth_token_decimals: r.value / 10 ** decs))
df_mint_burn.loc[:, 'blockTime'] = df_mint_burn.apply(lambda r: BlockNumber(r['blockNumber']).timestamp_datetime, axis = 1)
df_mint_burn.loc[:, 'blockDate'] = df_mint_burn.blockTime.dt.strftime('%Y-%m-%d')

In [23]:
df_issue = (df_mint_burn.query('`from` == "0x0000000000000000000000000000000000000000"')
    .groupby('blockDate', as_index=False)['value'].sum().rename(columns={'value': 'issue'})
)

df_redeem = (df_mint_burn.query('`to` == "0x0000000000000000000000000000000000000000"')
    .groupby('blockDate', as_index=False)['value'].sum().rename(columns={'value': 'redeem'}).assign(redeem = lambda r: -1 * r.redeem)
)

In [24]:
df_mint_burn

,blockNumber,logIndex,from,to,value,blockTime,blockDate
0,14424402,403,0x0000000000000000000000000000000000000000,0xFafd604d1CC8b6B3B6CC859cF80Fd902972371C1,0.001505,2022-03-20 16:47:02+00:00,2022-03-20
1,14424402,404,0x0000000000000000000000000000000000000000,0xFD75b173c860C1478c3FF39453a0c72feDCE6c81,1.003495,2022-03-20 16:47:02+00:00,2022-03-20
2,14424883,59,0x0000000000000000000000000000000000000000,0xFafd604d1CC8b6B3B6CC859cF80Fd902972371C1,0.000185,2022-03-20 18:30:09+00:00,2022-03-20
3,14424883,60,0x0000000000000000000000000000000000000000,0x37e6365d4f6aE378467b0e24c9065Ce5f06D70bF,0.123346,2022-03-20 18:30:09+00:00,2022-03-20
4,14430129,222,0x0000000000000000000000000000000000000000,0xFafd604d1CC8b6B3B6CC859cF80Fd902972371C1,0.000024,2022-03-21 14:05:17+00:00,2022-03-21
...,...,...,...,...,...,...,...
657,15989604,129,0x0000000000000000000000000000000000000000,0xb39235EBFE6BCcB274cF4d05b80Fd08Ca98BfEE4,19.7,2022-11-17 12:00:23+00:00,2022-11-17
658,15991180,430,0x0000000000000000000000000000000000000000,0xe5d028350093a743A9769e6FD7F5546eEdDAA320,20.0,2022-11-17 17:17:11+00:00,2022-11-17
659,15991257,29,0x0000000000000000000000000000000000000000,0xe5d028350093a743A9769e6FD7F5546eEdDAA320,26.0,2022-11-17 17:32:47+00:00,2022-11-17
660,15996161,52,0x0000000000000000000000000000000000000000,0xe5d028350093a743A9769e6FD7F5546eEdDAA320,14.0,2022-11-18 10:00:23+00:00,2022-11-18
661,16000612,55,0x00000000000747D525E898424E8774F7Eb317d00,0x0000000000000000000000000000000000000000,-20.0,2022-11-19 00:54:59+00:00,2022-11-19

In [25]:
df_aum = (df_mint_burn
    .groupby('blockDate', as_index=False)['value'].sum().rename(columns={'value': 'unit_flow'})
    .assign(unit = lambda x: x['unit_flow'].cumsum()))

df_unit_fee = (df_aum
    .merge(df_issue, how = 'left', on = 'blockDate')
    .merge(df_redeem, how = 'left', on = 'blockDate').fillna(0))

print(df_unit_fee['unit'].to_list()[-1] - df_mint_burn.value.sum())

display(df_unit_fee)

0.0

      blockDate   unit_flow          unit       issue     redeem
0    2022-03-20    1.128531      1.128531    1.128531   0.000000
1    2022-03-21   18.109047     19.237577   18.109047   0.000000
2    2022-03-29   50.964952     70.202530   50.964952   0.000000
3    2022-03-30   70.165678    140.368208   70.165678   0.000000
4    2022-03-31   24.314635    164.682843   24.314635   0.000000
..          ...         ...           ...         ...        ...
186  2022-11-15  104.000000  10040.274320  114.000000  10.000000
187  2022-11-16  -18.501163  10021.773156   20.000000  38.501163
188  2022-11-17  113.700000  10135.473156  113.700000   0.000000
189  2022-11-18   14.000000  10149.473156   14.000000   0.000000
190  2022-11-19  -20.000000  10129.473156    0.000000  20.000000

[191 rows x 5 columns]

In [26]:
# icETH
0x7C07F7aBe10CE8e33DC6C5aD68FE033085256A84

df_1 = pd.DataFrame(
    setv2_BasicIssuanceModule.fetch_events(
        setv2_DebtIssuanceModule.events.SetTokenIssued,
        from_block = 0,
        to_block = 13_010_000,
        argument_filters={'_setToken': '0x0b498ff89709d3838a063f1dfa463091f9801c2b'},
        contract_address=setv2_DebtIssuanceModule.address
    )
)

df_2 = pd.DataFrame(
    setv2_BasicIssuanceModule.fetch_events(
        setv2_DebtIssuanceModule.events.SetTokenRedeemed,
        from_block = 0,
        to_block = 13_010_000,
        argument_filters={'_setToken': '0x0b498ff89709d3838a063f1dfa463091f9801c2b'},
        contract_address=setv2_DebtIssuanceModule.address
    )
).assign(_quantity = lambda r: -1 * r._quantity)

pd.concat([df_1, df_2]).loc[:, ['blockNumber', 'logIndex', 'transactionIndex', '_quantity', '_managerFee', '_redeemer']]

,blockNumber,logIndex,transactionIndex,_quantity,_managerFee,_redeemer
0,12377073,83,55,10000000000000000000,10000000000000000,NaN
1,12383329,244,126,1000000000000000000,1000000000000000,NaN
2,12383787,291,103,1747243767523597251116,1747243767523597251,NaN
3,12388983,192,83,1000000000000000000,1000000000000000,NaN
4,12410924,282,172,143273720303189842535,143273720303189842,NaN
...,...,...,...,...,...,...
347,13007355,20,0,-679733364526831180844,679733364526831180,0x00000000000123685885532dcB685c442Dc83126
348,13009406,38,3,-1600683719245490700134,1600683719245490700,0x00000000000123685885532dcB685c442Dc83126
349,13009613,25,1,-1287275985458876417825,1287275985458876417,0x00000000000123685885532dcB685c442Dc83126
350,13009824,211,116,-2970781326685242215378,2970781326685242215,0x75600ed0819b51e4da873E38bcDC8330C14444Cf
351,13009837,384,220,-3048850047475014438277,3048850047475014438,0x75600ed0819b51e4da873E38bcDC8330C14444Cf